
/***************     hero    *****************/

.home-page .hero-background {
    background-color: #000000ed;
}

.home-page .hero-background .container .hero-head {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.281);
}

.home-page .hero-background .container .hero-head .left-side {
    display: flex;
    flex-direction: column;
    padding-top: 130px;
    text-align: left;
    gap: 24px;
}

.home-page .hero-background .container .hero-head .left-side .headline {
    font-size: 16px;
    line-height: auto;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.329);
}

.home-page .hero-background .container .hero-head .left-side .head {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
    color: white;
}

.home-page .hero-background .container .hero-head .left-side .description {
    font-size: 15px;
    line-height: 25px;
    font-weight: medium;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.618);
    max-width: 349px;
}

.home-page .hero-background .container .hero-head .left-side .button-div {
    margin-top: 8px;
    max-width: 160px;
    max-height: 48px;
    background-color: var(--dark-cream);
    text-align: center;
    cursor: pointer;
    padding-inline: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
}

.home-page .hero-background .container .hero-head .left-side .button-div:hover {
    background-color: var(--light-cream);
    transition-duration: 0.2s;
}

.home-page .hero-background .container .hero-head .left-side .button-div .button-dark-cream {
    border: none;
    color: white;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.home-page .hero-background .container .hero-head .right-side .hero-image {
    margin-right: -30px;
}

/***************     triplets    *****************/

.home-page .container .triplets {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 284px;
    margin-top: 144px;
}

/************************product******************************/

.home-page .container .triplets .product {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 350px;
    min-height: 284px;
    border-radius: 8px;
}

.home-page .container .triplets .product .product-icon-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -140px;
    z-index: 2;
}

.home-page .container .triplets .product .product-icon-div .thumbnail-shadow {
    margin-top: -50px;
}

.home-page .container .triplets .product .inside-product {
    background-color: #9797972a;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 110px;
    padding-inline: 108.5px;
    z-index: 1;
    border-radius: 8px;
    gap: 10px;
}

.home-page .container .triplets .product .inside-product .headline {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: auto;
    letter-spacing: 1.29px;
    text-align: center;
    text-transform: uppercase;
    min-width: 133px;
    min-height: 25px;
    margin-top: 15px;
}

.home-page .container .triplets .product .inside-product .button-div {
    min-width: 57.32px;
    max-height: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.home-page .container .triplets .product .inside-product .button-div .triplet-button {
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
    width: 100%;
    color: rgba(0, 0, 0, 0.541);
}

.home-page .container .triplets .product .inside-product .button-div .triplet-button:hover {
    color: var(--dark-cream);
    transition-duration: 0.2s;
}




/************************product 1******************************/

.home-page .container .triplets .product1 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 350px;
    min-height: 284px;
    border-radius: 8px;
    margin-top: 12px;
}

.home-page .container .triplets .product1 .product-icon-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -140px;
    z-index: 2;
}

.home-page .container .triplets .product1 .product-icon-div .thumbnail-shadow {
    margin-top: -50px;
}

.home-page .container .triplets .product1 .inside-product {
    background-color: #9797972a;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 110px;
    padding-inline: 108.5px;
    z-index: 1;
    border-radius: 8px;
    gap: 10px;
}

.home-page .container .triplets .product1 .inside-product .headline {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: auto;
    letter-spacing: 1.29px;
    text-align: center;
    text-transform: uppercase;
    min-width: 133px;
    min-height: 25px;
    margin-top: 15px;
}

.home-page .container .triplets .product1 .inside-product .button-div {
    min-width: 57.32px;
    max-height: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.home-page .container .triplets .product1 .inside-product .button-div .triplet-button {
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
    width: 100%;
    color: rgba(0, 0, 0, 0.541);
}

.home-page .container .triplets .product1 .inside-product .button-div .triplet-button:hover {
    color: var(--dark-cream);
    transition-duration: 0.2s;
}


/************************product 2******************************/

.home-page .container .triplets .product2 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 350px;
    min-height: 284px;
    border-radius: 8px;
    margin-top: 31px;
}

.home-page .container .triplets .product2 .product-icon-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -140px;
    z-index: 2;
}

.home-page .container .triplets .product2 .product-icon-div .thumbnail-shadow {
    margin-top: -50px;
}

.home-page .container .triplets .product2 .inside-product {
    background-color: #9797972a;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 110px;
    padding-inline: 108.5px;
    z-index: 1;
    border-radius: 8px;
    gap: 10px;
}

.home-page .container .triplets .product2 .inside-product .headline {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: auto;
    letter-spacing: 1.29px;
    text-align: center;
    text-transform: uppercase;
    min-width: 133px;
    min-height: 25px;
    margin-top: 15px;
}

.home-page .container .triplets .product2 .inside-product .button-div {
    min-width: 57.32px;
    max-height: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.home-page .container .triplets .product2 .inside-product .button-div .triplet-button {
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
    width: 100%;
    color: rgba(0, 0, 0, 0.541);
}

.home-page .container .triplets .product2 .inside-product .button-div .triplet-button:hover {
    color: var(--dark-cream);
    transition-duration: 0.2s;
}

/************************product 2******************************/

.home-page .container .zx9-thumbnail {
    align-items: center;
    display: flex;
    background-color: var(--dark-cream);
    margin-top: 144px;
    height: 560px;
    max-width: 100%;
    gap: 150px;
    border-radius: 8px;
    overflow: hidden;
}

.home-page .container .zx9-thumbnail .left-side {
    max-width: 410px;
    max-height: 493px;
    margin-bottom: -102px;
    margin-left: 115px;
}

.home-page .container .zx9-thumbnail .left-side .image-div {
    position: relative;
}

.home-page .container .zx9-thumbnail .left-side .image-div .zx9-image {
    z-index: 3;
    position: relative;
}

.home-page .container .zx9-thumbnail .left-side .image-div .circles {
    position: absolute;
    top: -130px;
    left: -260px;
    z-index: 1;
}

.home-page .container .zx9-thumbnail .right-side {
    max-width: 349px;
    max-height: 303px;
    text-align: left;
    z-index: 2;
}

.home-page .container .zx9-thumbnail .right-side .headline {
    max-width: 261px;
    max-height: 116px;
    font-size: 56px;
    font-weight: bold;
    line-height: 58px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
}

.home-page .container .zx9-thumbnail .right-side .text {
    font-size: 15px;
    font-weight: medium;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.696);
}

.home-page .container .zx9-thumbnail .right-side .button-div {
    margin-top: 32px;
    max-width: 160px;
    max-height: 48px;
    background-color: var(--dark-black);
    text-align: center;
    cursor: pointer;
    padding-inline: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
}

.home-page .container .zx9-thumbnail .right-side .button-div .button-dark-black {
    border: none;
    color: white;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.home-page .container .zx9-thumbnail .right-side .button-div:hover {
    background-color: var(--medium-black);
    transition-duration: 0.2s;
}